@media screen and (max-width:1600px) {
    header .rel{
        padding:1rem 2rem;
    }
.rel{
    padding: 0 2rem;
}
#s0 .tit-wrap{
    transform: scale(.8);
}
}
@media screen and (max-width:1290px) {
    #wrap>.footer 
    {
        min-height: auto;
        padding: 20rem 0;
    }
    .footer-top{
        height: auto;
    }
    header h1 {
        font-size: 3.6rem;
    }

    .navBtn {
        position: relative;
        width: 2.6rem;
        height: 1.8rem;
        opacity: 1;
    }

    .menu-list {
        gap: 4rem;
        font-size: 2.6rem;
        display: none;
    }

    .toggle-menu {
        gap: 4rem;
        font-size: 2.6rem;
    }

    #s0 .tit-wrap {

    }



    #s1 .rel h2 {
        font-size: 5rem;
        letter-spacing: 4rem;
    }

    .marquee .in-wrap span {
        font-size: 3rem;
    }

    .skill-wrap li {
        height: 20rem;
        width: 20rem;
    }

    ul.skill-wrap li>span>img {
        width: 10rem;
    }

    #s3 .rel h2 {
        font-size: 5rem;
        letter-spacing: 4rem;
    }

    .mid h3 {
        width: 15rem;
        height: 5.4rem;
        font-size: 3rem;
    }

    .badge {
        font-size: 1.8rem;
    }

    .project {
        font-size: 3rem;
    }

    .project-lst li a {
        padding: 3rem 3rem 5rem;
    }

    .link-box .link {
        display: none;
    }

    .tag {
        font-size: 1.6rem;
    }

    .footer-top h2 {
        font-size: 8rem;
        letter-spacing: .1rem;
    }

    .footer-bottom h3 {
        font-size: 6rem;
    }

    .footer-bottom {
        gap: 10rem;
    }

    .footer-bottom ul {
        gap: 7rem;
    }

    .footer-bottom ul li a img {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .tit-wrap.mid{
        padding: 15rem 2rem 6rem;
    }

    .project-lst li{
        padding-left: 2rem;
    }
    #s0 .tit-wrap{
    transform: scale(.7);
}
    .skill-wrap {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        /* ✅ wrap 가능하게 함 */
    }

    .skill-wrap li {
        flex: 0 0 calc(33.33% - 2rem);
        /* 세 칸으로 나눔, gap 고려 */
        max-width: 20rem;
        height: auto;
    }

    .skill-wrap li span {
        border-radius: 2rem;
        padding: 2rem;
    }

    ul.skill-wrap li>span>img {
        width: 8rem;
    }
}

@media screen and (max-width:830px) {


    #s0 .tit-wrap{
        width:55rem;
        font-size: 10rem;
        line-height: 1;
        height: 20rem;
        transform: scale(1);
    }
    .tit-wrap .char{
        height: 50%;
        width: 60%;
        /* width: auto; */
    }
    .tit-wrap .char1{
        left: 0;
        top: -10%;
    }

    .tit-wrap .char2{
        right: auto;
        left: 50%;
    }
    .tit-wrap .char3{
        left: 0;
        bottom: 0;
    }
    .tit-wrap .char4{
        right: auto;
        left: 50%;
        bottom: 0;
    }
    .tit-wrap .char .in-wrap {
        position: static;
    }
}
@media screen and (max-width:730px) {
    #s0 .tit-wrap{
        width: 45rem;
        font-size: 8rem;
        height: 18rem;
    }
}
@media screen and (max-width:630px) {

    header h1 {
        display: flex;
        font-size: 2.6rem;
    }

    .menu-list {
        display: none;
    }

    .navBtn {
        position: relative;
        opacity: 1;
    }

    .toggle-menu {
        font-size: 1.8rem;
        gap: 2rem;
    }


    #s1 .rel h2 {
        font-size: 3rem;
        letter-spacing: 2rem;
    }

    .marquee .in-wrap span {
        font-size: 2.4rem;
    }

    #s2 {
        height: auto;
    }

    .skill-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .skill-wrap li {
        flex: 0 0 45%;
        /* 두 칸 */
    }

    .skill-wrap li span {
        border-radius: 2rem;
        padding: 2rem;
    }

    ul.skill-wrap li>span>img {
        width: 6.5rem;
    }

    #s3 .rel h2 {
        font-size: 3rem;
        letter-spacing: 3rem;
    }

    .mid h3 {
        width: 10rem;
        height: 3.4rem;
        font-size: 1.8rem;
    }

    .tit-wrap.mid {
        padding-top: 0;
    }

    .right {
        display: none;
    }

    .badge {
        font-size: 1.2rem;
    }

    .project {
        font-size: 2rem;
    }

    .project-lst li {
        min-height: 15rem;
        width: 100%;
    }

    .project-lst li a {
        padding: 2rem 0rem 3rem;
    }

    .link-box .link {
        display: none;
    }

    .tag {
        display: none;
    }

    .footer-top h2 {
        font-size: 4.2rem;
        letter-spacing: -.3rem;
    }

    .footer-bottom {
        flex-direction: column;
        position: static;
    }

    .footer-bottom ul {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .footer-bottom ul li a img {
        margin: 1rem;
    }

    .footer-bottom h3 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:420px) {
        #s0 .tit-wrap{
        width: 30rem;
        font-size: 6rem;
        height: 12rem;
    }

}

@media screen and (max-width:320px) {
}